@import url("bootstrap.min.css");
@import url("font.css");


.active{
  background-color: #66492B;
  border-radius: 3px;
  color:white;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: 'Montserrat', 'sans-serif';
  padding-top: 10px;
  margin: 10px;
  color: white;
  font-size:14px;
    text-align: justify;
    background-image: url('/assets/img/bgd.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}


header {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: left;
  color: white;
  padding-bottom: 75px;
}
header .intro-text {
  padding-top: 20px;
      text-align:left;
}
header .intro-text .intro-lead-in {
    font-size: 15px;
    margin-bottom: 5px;
    font-style: italic;
    font-family: "Roboto Slab", sans-serif;
}
header .intro-text .intro-heading {
    font-size: 40px;
    margin-bottom: 5px;
    font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
}

header .intro-text a {
  color:white;
}
header .intro-text a:hover {
  color: white;
}



h1.main {
    color:white;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    overflow: hidden;
    border-right: .15em solid transparent;
    white-space: nowrap;
    padding-top: 15px;
    margin-top: 10px;
    letter-spacing: .15em;
        }
h1,
h2,
h3,
h4,
h6 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  text-align: left;
}
h6 {
  font-weight: 800;
}



}



p.large {
  font-size: 18px;
  text-align: left;
}

a {
  color:#D8B896;
}
a:hover,
a:focus,
a:active,
a.active {
  color: white;
}



/*---------------------------------------
  CUSTOM PROPERTIES
-----------------------------------------*/
:root {
  --white-color:                  #ffffff;
  --primary-color:                #F5E4C9;
  --dark-color:                   #000000;

  --body-font-family:             "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;

  --p-font-size:                  20px;

  --border-radius-large:          100px;
  --border-radius-medium:         20px;
  --border-radius-small:          10px;

  --font-weight-bold:             700;
}

/*---------------------------------------
  NAVIGATION
-----------------------------------------*/
.sidebar {
  background: var(--primary-color);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 50px 0 0;
}

.sidebar-sticky {
  height: calc(100vh - 48px);
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
  position: relative;
}

.navbar {
  background: transparent;
  z-index: 9;
}

.logo-image {
  width: 200px;
  height: auto;
  margin-bottom: 70px;
}

#sidebarMenu .nav-link {
  color: var(--dark-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
  position: relative;
}

#sidebarMenu .nav-link.active,
#sidebarMenu .nav-link:hover {
  color: var(--white-color);
}

.navbar-toggler {
  background: var(--primary-color);
  border-radius: var(--border-radius-large);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 222;
  border: 0;
  padding: 0;
  cursor: pointer;
  margin: 25px;
  width: 55px;
  height: 55px;
  outline: none;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  background: transparent;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before,
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transition: top 300ms 50ms ease, -webkit-transform 300ms 350ms ease;
  transition: top 300ms 50ms ease, transform 300ms 350ms ease;
  transition: top 300ms 50ms ease, transform 300ms 350ms ease, -webkit-transform 300ms 350ms ease;
  top: 0;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(-45deg);
}

.navbar-toggler .navbar-toggler-icon {
  background: var(--white-color);
  transition: background 10ms 300ms ease;
  display: block;
  margin: auto;
  width: 25px;
  height: 2px;
  position: relative;
}

.navbar-toggler .navbar-toggler-icon:before,
.navbar-toggler .navbar-toggler-icon:after {
  transition: top 300ms 350ms ease, -webkit-transform 300ms 50ms ease;
  transition: top 300ms 350ms ease, transform 300ms 50ms ease;
  transition: top 300ms 350ms ease, transform 300ms 50ms ease, -webkit-transform 300ms 50ms ease;
  position: absolute;
  right: 0;
  left: 0;
  background: var(--white-color);
  width: 25px;
  height: 2px;
  content: '';
}

.navbar-toggler .navbar-toggler-icon::before {
  top: -8px;
}

.navbar-toggler .navbar-toggler-icon::after {
  top: 8px;
}


.navbar-custom2 {
  background-color: #ffffff;
  border-color: transparent;
}
.navbar-custom2 .navbar-brand {
  color: #66492B;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, cursive;
  letter-spacing: .15em;
  text-transform: uppercase;
  font-weight: 700;
}
.navbar-custom2 .navbar-brand:hover,
.navbar-custom2 .navbar-brand:focus,
.navbar-custom2 .navbar-brand:active,
.navbar-custom2 .navbar-brand.active {
  color: #66492B;
}
.navbar-custom2 .navbar-collapse {
  border-color: rgba(255, 255, 255);
}
.navbar-custom2 .navbar-toggle {
  background-color: #66492B;
  border-color: #66492B;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: #66492B;
  font-size: 12px;
}
.navbar-custom2 .navbar-toggle:hover,
.navbar-custom2 .navbar-toggle:focus {
  background-color: #66492B;
}
.navbar-custom2 .nav li a {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  color: #66492B;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
.navbar-custom2 .nav li a:hover,
.navbar-custom2 .nav li a:focus {
  color: #66492B;
  outline: none;
  box-shadow: inset 350px 0 0 0 #F3E7C9;
}
.navbar-custom2 .navbar-nav > .active > a {
  border-radius: 0;
  color: #66492B;
  background-color: #F3E7C9;
}
.navbar-custom2 .navbar-nav > .active > a:hover,
.navbar-custom2 .navbar-nav > .active > a:focus {
  color: white;
  background-color: #66492B;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    width: 800px;
    margin: 0 auto;
    flex: 1 1 auto;
    counter-reset: grid;
}

.gallery2 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    width: 800px;
    margin: 0 auto;
    counter-reset: grid;
}


.gallery-item {
    width: 100%;
    height: 100%;
    padding-bottom: 1%;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.2s;
    grid-column: span 1;
}

.gallery-item:hover {
    transform: scale(1.05);
}

/
/*---------------------------------------
  RESPONSIVE STYLES
-----------------------------------------*/


@media screen and (max-width: 991px) {


  .custom-block {
    display: none;
  }


  .navbar-expand-lg .navbar-nav {
    padding-bottom: 30px;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 0;
  }

  .booking-form {
    padding: 45px;
  }
}

@media screen and (max-width: 767px) {
  .custom-btn {
    font-size: 14px;
    padding: 10px 20px;
  }

}



h1.main {
    font-size: 3rem; /* Default size for larger screens */
}
p {
    font-size: 1rem; /* Default size for larger screens */
}
h5 {
  font-size: .8rem;
}

#tata {
  font-size: 1.4em;
}


@media (min-width: 700px) and (max-width:900px) {
    h1.main {
        font-size: 2rem; /* Smaller size for tablets and small laptops */
    }
    p {
      font-size: .8rem
    }
    h5 {
      font-size: .8rem;
    }



    .gallery, .gallery2{
        grid-template-columns: repeat(4, 1fr);
        width: 80%;
        justify-content: center;
    }


    #commande {
      font-size: 1em;
    }
    #commande2 {
      font-size: .7em;
    }
}



@media (max-width: 700px) {
    h1.main {
        font-size: 1.5rem; /* Smaller size for mobile phones */
    }

    p {
      font-size: .7rem
    }
    h5 {
      font-size: .7rem;
    }

    .gallery, .gallery2 {
        grid-template-columns: repeat(3, 1fr); /* 2 columns on smaller screens */
        width: 80%;
        justify-content: center;
}

.gallery-item{
  justify-content: center;
    &::after {
       counter-increment: grid;
       content: counter(grid);
     }

    &:last-child:nth-child(3n - 1) {
        grid-column-end: -1;
}

    &:nth-last-child(2):nth-child(3n + 1) {
        grid-column-end: 2;
        justify-content: center;
}

&:last-child:nth-child(3n - 2) {
  grid-column-end: 3;
}


}

    #commande {
      font-size: .8em;
    }
    #commande2 {
      font-size: .5em;
    }
}
}
