@import url("bootstrap.min.css");
@import url("font.css");


.active{
  background-color: #66492B;
  border-radius: 3px;
  color:white;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: 'Montserrat', 'sans-serif';
  padding-top: 10px;
  margin: 10px;
  font-size:14px;
    text-align: justify;
    background-image: url('/assets/img/bgd.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

header {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: left;
  color: white;
  padding-bottom: 75px;
}
header .intro-text {
  padding-top: 20px;
      text-align:left;
}
header .intro-text .intro-lead-in {
    font-size: 15px;
    margin-bottom: 5px;
    font-style: italic;
    font-family: "Roboto Slab", sans-serif;
}
header .intro-text .intro-heading {
    font-size: 40px;
    margin-bottom: 5px;
    font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
}

header .intro-text a {
  color:white;
}
header .intro-text a:hover {
  color: white;
}



h1.main {
    color:white;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    overflow: hidden;
    border-right: .15em solid transparent;
    white-space: nowrap;
    padding-top: 15px;
    margin-top: 10px;
    letter-spacing: .15em;
        }
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  text-align: left;
}

p {
  font-size: 20px;
  text-align: left;
}

p.large {
  font-size: 18px;
  text-align: left;
}

a {
  color:#66492B;
}
a:hover,
a:focus,
a:active,
a.active {
  color: white;
}

.navbar-custom {
  background-color: #ffffff;
  border-color: transparent;
}
.navbar-custom .navbar-brand {
  color: #66492B;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, cursive;
  letter-spacing: .15em;
  text-transform: uppercase;
  font-weight: 700;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:active,
.navbar-custom .navbar-brand.active {
  color: #66492B;
}
.navbar-custom .navbar-collapse {
  border-color: rgba(255, 255, 255);
}
.navbar-custom .navbar-toggle {
  background-color: #66492B;
  border-color: #66492B;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: #66492B;
  font-size: 12px;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #66492B;
}
.navbar-custom .nav li a {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  color: #66492B;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus {
  color: #66492B;
  outline: none;
  box-shadow: inset 350px 0 0 0 #F3E7C9;
}
.navbar-custom .navbar-nav > .active > a {
  border-radius: 0;
  color: #66492B;
  background-color: #F3E7C9;
}
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: white;
  background-color: #66492B;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    width: 800px;
}

.gallery2 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    width: 800px;
}


.gallery-item {
    width: 100%;
    height: 100%;
    padding-bottom: 1%; /* Maintain square aspect ratio */
    object-fit: cover; /* Ensure the image covers the square */
    cursor: pointer;
    transition: transform 0.2s;
}

.gallery-item:hover {
    transform: scale(1.05);
}
